


<div id="all">
    <div id="content">


        <div id="hot">
            <div class="box py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-0">ALL BOOKS</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="product-slider owl-carousel owl-theme">
                    @for (int i = 1; i <= 14; i++)
                    {
                        var id = "/content/img/b" + i;
                        id = id + ".jpg";


                        <div class="item" style="height:260px">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">

                                        <div class="front"><a href="detail.html" style="height:200px"><img src="@id" alt="" class="img-fluid"></a></div>
                                        <div class="back"><a href="detail.html" style="height:200px"><img src="@id" alt="" class="img-fluid"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                </div>
        </div>
    </div>
</div>